* { box-sizing: border-box;}
body {font-family: Do Hyeon, Helvetica, sans-serif; background-color:#F32170;
}
body, html {
  margin: 0;
  overflow-x: hidden; 
}
nav { background-color: #EC790F; height: 52px; margin: 0; padding:0; 
}
nav a{  background-color: #F39B4A;  color: black; padding-left: 2em; padding-right: 2em; padding-top: 11px; padding-bottom: 9px; margin-left: 32px; text-align: center; margin-top: -32px;  position: relative;  
	top: -15px; ; font-size: 2em; text-decoration: none; right: 4em; margin-bottom: 0; 
}
nav a:hover { background-color: #f3caa5; color:black;
}
#icon { position: relative; top: 0px; background: rgba(0, 0, 0, 0); right:96px; margin-right:0; 
}

h1 { 
        font-size: 9em; 
        background: linear-gradient( 
            to bottom, #f32170, #ff6b08, 
             #cf23cf, #eedd44); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
		position: relative; 
            left: 25%;
		margin-top: 0px; 
		padding-top:1px;
		margin-bottom: 0px;			
}
.banner {background-color: #5B017A; box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); border-bottom: 1px solid #2700C2;
}
.gradient{ background-image: linear-gradient(#390D48, #D86AFF, #390D48); height:auto;
}
.gradient2{ background-image: linear-gradient(#390D48, #D86AFF, #390D48,#390D48, #D86AFF,#390D48, #D86AFF,#390D48, #D86AFF); height:auto;
}
.text-block { background-color: rgba(0, 0, 0, 0.25); position: absolute; padding:10px; 
}

table {  margin: auto;
		 border-spacing: 75px;
		 text-decoration: none;
		 position: relative;
		
}
th {     width: 222px;
		 height: 223px;
		 text-decoration: none;
		 
		 
}
td {     width: 370px;
		 height: 172px;
		 text-align:center; 
		 
}

th img{box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.25);
}
td img{box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.25);
}
footer{ font-size: 24pt; text-align: center; background-color: #EC790F; border: 2px solid #2700C2; color: #5B017A;
}
footer a{ text-decoration: none; color: #f32690;
}
footer a:hover { color: pink}

th a img:hover {   box-shadow:  0 0 4px 4px white;
}
td a img:hover {   box-shadow:  0 0 4px 4px white;
}
figure {
	float: left; color: #EC790F; text-align:center;
}
.rightfloat{
	float: right; 
}
figcaption {color: #EC790F; text-align:center; text-shadow: 1px 1px #232323;
}
aside { float: right;
	    width: 150px;
	    flex: 1;
	    background-color: #EC790F;
	    border: 1px solid #2700C2;
	    position:relative;
	    z-index:99
	  
}
p { font-size: 24pt; color: #e6e6e6; 
}
a { text-decoration: none; color: #f32690;
}
a:hover { color: pink
}
ul{list-style-type: none; padding-left:10px;
}
.opening{ font-size: 26pt; color: #EC790F; padding-bottom:0; margin-bottom:0; text-shadow: 2px 2px #232323;
}
.finishedLinks { color:#EC790F; text-shadow: 2px 2px #232323;
}
.shadowthehedgehog{ box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.25); background-color: black; 
}
.weaponArchive{ box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.25);
}
.weaponArchive img:hover { box-shadow:  0 0 4px 4px white;
}
.gifCaption{ color: #EC790F; text-shadow: 1px 1px #232323;
}
form { color:white; font-size: 20pt;
}
#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
}
#minigun { width: 176px;
  height: 128px;
  background: url(images/minigun.png) left center;
  animation: play 4s steps(24) infinite;
  float: right;
  padding-right: 1em;
}

@keyframes play {
    100% { background-position: -4224px; }
}

	
