@charset "utf-8";
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
  color: #3B2C35;
  margin-left: 16px;
  margin-right: 16px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 38px;
  color: #D1345B;
}
p {
  font-size: 19px;
}
.right {
  float: right;
  margin: 16px 16px 16px 16px;
  max-width:35%;
  height: auto;
}
.left {
  float: left;
  margin: 16px 16px 16px 16px;
  max-width:35%;
  height: auto;
}
.bgimg {
  /* The image used */
  background:
  linear-gradient(rgba(209, 52, 91, 0.5), rgba(59, 44, 53, 0.5)),
  url("./images/big_img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  /* The image used */
  background: linear-gradient(rgba(58, 127, 187, 0.5), rgba(149, 198, 35, 0.5)),
  url('http://students.cpcc.edu/~rsalmon0/web110/images/big_img2.jpg');

  /* Full height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  box-sizing: border-box;
}
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price {
  list-style-type: none;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
  background-color: #3B2C35;
  color: white;
  font-size: 25px;
}
.price li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.price .grey {
  background-color: #ccc;
  font-size: 20px;
}
.button {
  background-color: #3A7FBB;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
footer {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #3B2C35;
  color: #fff;
}
